{% extends "base.html" %}
{% block body %}
<section class="py-5">
	<div class="container">
		<div class="row align-items-center gx-4">
			<div class="col-md-5">
				<div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="https://cdn2.vectorstock.com/i/1000x1000/66/31/indian-passenger-ac-local-train-vector-31036631.jpg"></div>
			</div>
			<div class="col-md-6 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<span class="text-muted">Our Story</span>
					<h2 class="display-5 fw-bold">About Us</h2>
					<p class="lead">Welcome to M-Companion !

						This project has been developed with the aim of providing easier reference and guidance for travelers. Whether you are planning your journey or navigating through the bustling Mumbai local train network, our platform is designed to make your experience seamless and efficient.
						
						With a focus on clarity and usability, this project serves as a helpful tool for travelers to find the fastest and most convenient routes, minimizing confusion and maximizing convenience.
						
						
						</p>
					<p class="lead mb-0">Thank you for visiting, and we hope this project helps simplify your travel experience!	 We’re excited to have you as part of our journey and look forward to building a future fueled by innovation and creativity together.					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}
